<%- include("header.ejs")%>

<span id="date">Date: <%= listTitle %> </span>


<div class="box" id="heading">
  <h1 id="to-do">To-Do-List</h1>

  <% newListItems.forEach(item => { %>
    <div class="item">
      <input type="checkbox">
      <p><%= item %></p>
    </div>
  <% }); %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
  </div>

<%- include("footer.ejs")%>
   